# Sensitive authentication data
configstore/
graphite/
ddtool/
gcloud/
op/
ghtoken

# App-managed data
uv/
flutter/

# Unused tools
fish/
helix/
wireshark/

# Standard patterns
*/cache/
*/Cache/
*/logs/
*/tmp/
*/temp/
*/.DS_Store
*.log
git/config.local
